<div class="shop_footer">
<section class="wrapper flex">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!--<script src="js/jquery.rwdImageMaps.min.js"></script>-->
      <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
      <!--<script src="css/style"></script>-->
      <div class="container">
          <div class="map column">
              <h2>日本地図のどこかをクリックしてください</h2>
              <div class="map_japan">
                  <img src="/assets/nihonchizu_area.png" usemap="#ImageMap" alt="" />
                  <map name="ImageMap">
                      <!--北海道-->
                        <area shape="poly" coords="289,17,284,59,276,68,261,62,264,73,263,79,250,85,260,99,258,109,266,110,268,103,284,104,285,97,267,95,268,83,280,81,282,87,293,79,328,100,337,80,368,72,360,58,363,39,344,52,315,36,289,13,301,387" href="#" alt="hokkaido" />
                      <!--東北地方-->
                        <area shape="poly" coords="269,120,266,124,266,129,264,131,261,132,259,136,263,145,263,151,262,156,264,164,262,169,259,180,267,188,268,191,262,194,263,199,262,208,256,212,258,222,271,216,278,225,286,224,292,216,287,203,286,197,288,188,299,196,302,183,299,171,303,158,303,143,294,133,292,131,293,116,283,114,279,120,289,120,289,132,280,128,276,133,273,131,269,120,399,191" href="#" alt="tohoku" />
                      <!--関東地方-->
                        <area shape="poly" coords="251,224,247,228,242,223,236,227,238,233,242,235,240,243,248,249,251,253,246,256,252,267,256,265,257,271,267,261,272,252,274,252,275,260,267,269,270,273,289,257,291,251,285,243,287,227,277,227,270,220,255,227,251,224,386,287" href="#" alt="kanto" />
                      <!--中部地方-->
                        <area shape="poly" coords="255,182,255,190,243,205,224,220,213,224,208,221,206,216,206,213,212,203,208,201,195,207,195,216,192,221,182,226,180,235,180,242,175,244,176,249,179,251,189,245,197,254,199,260,212,277,219,276,227,275,236,279,242,268,245,271,249,281,255,273,255,271,250,267,245,258,244,255,246,252,240,246,236,238,234,231,234,227,242,220,247,225,254,219,253,209,257,206,259,192,264,189,255,182,377,199" href="#" alt="cyubu" />
                      <!--関西地方-->
                        <area shape="poly" coords="186,247,180,252,175,252,173,250,173,247,169,247,164,245,146,244,151,253,145,259,145,267,156,266,163,270,170,271,168,282,165,288,170,297,174,302,183,302,194,288,198,286,204,288,203,284,195,278,199,267,186,247,399,184" href="#" alt="kansai" />
                      <!--中国地方-->
                        <area shape="poly" coords="71,271,95,285,94,282,100,274,105,271,107,274,112,277,142,268,142,258,147,253,143,244,131,245,123,241,114,242,105,249,74,265,71,271,125,238" href="#" alt="cyugoku" />
                      <!--四国地方-->
                        <area shape="poly" coords="117,320,126,308,131,302,139,302,144,311,152,297,155,292,150,288,142,279,130,277,125,287,123,289,115,282,97,293,95,299,105,301,104,309,117,320,295,257" href="#" alt="shikoku" />
                      <!--九州・沖縄地方-->
                        <area shape="poly" coords="69,277,38,290,39,305,54,307,52,303,52,299,58,297,61,301,64,307,62,308,60,310,59,313,66,317,53,327,54,339,62,342,62,333,69,333,70,338,64,346,72,349,79,345,86,340,87,335,87,321,93,315,94,303,85,298,83,295,84,287,76,284,69,276,70,282" href="#" alt="kyushu" />
                  </map>
              </div>
          </div>
          <div class="list column">
              <h2 class="text-white">以下に県名のリストが表示されます↓↓↓</h2>

              <% @genres.each do |genre| %>
                <ul class="<%= genre.komoziname %>">
                  <li><h4><%= genre.name %></h4></li>
                <% genre.shops.each do |genre| %>
                <li><%= link_to genre.name, shop_path(genre) %></li>
                <% end %>
                </ul>
              <% end %>

          </div>
      </div>
      <script>
      $(document).ready(function(e) {
          $('img[usemap]').rwdImageMaps();
      });
      //都道府県リストを非表示
      $('ul').hide();
      $('area').click(function(){
          $('ul').hide();
          $('.' + $(this).attr('alt')).show();
      });
      </script>

</section>
</div>
